<table class="w-full">
  <tr>
    <td class="text-[14px] text-[#000049] leading-[16px] p-[20px]">
      <table class="w.full">
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px]" alt="Logo" imgUrl="image-2.png" href="#" />
          </td>
          <td class="text-[12px] text-[#002B2B] leading-[14px] pl-[23px] pr-[80px] sm:pr-[0px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>