<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td
      class="px-base p-[35px] text-[24px] leading-[27px] sm:pt-[25px] sm:px-[20px]  text-center text-[#005555] font-bold">
      Sint cupidatat occaecat ut
    </td>
  </tr>
  <tr>
    <td class="pb-[35px]">
      <table class="w-full ">
        <tr>
          <!-- Logo Column -->
          <td class="w-1/2 p-[20px] pr-[10px] py-0 sm:pr-[20px]  sm:w-full sm:inline-block">
            <x-fragments.fragment-01 />
          </td>
          <!-- Text Column -->
          <td class="w-1/2 p-[20px] pl-[10px] py-0 sm:pl-[20px] sm:pt-[35px] sm:w-full sm:inline-block">
            <x-fragments.fragment-02 />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>