<table class="w-full">
  <tr>
    <td class="">
      <x-image width="560" class="w-[560px] px-[20px] sm:p-[0px] sm:[w-full]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="px-base p-[30px] pb-[0px] text-[24px] leading-[27px]  text-center text-[#005555] font-bold">
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td class="px-base p-[20px] text-[16px] leading-[18px]  text-center text-[#444444]">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="align-center-table py-base px-[20px] pb-[46px]">
      <x-button width="350" height="46" leading="23" padding="11px 20px" rounded="10" CTA
        class="font-bold text-primary xs:w-full cursor-pointer text-[#ffffff] text-[20px]">Ut enim ad
        minim veniam
      </x-button>
    </td>
  </tr>
</table>